*{
    margin : 0;
    padding : 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(184, 184, 184, 0.753);
}

header{
    position: absolute;
    top: 0;
    background-color: #64b5f6;
    height : 25%;
    width : 100%;
}

h1{
    padding : 12px 15px 0px 15px;
}

main{
    position : relative;
    top: 25%;
    background-color: white;
    width: 55%;
    border-radius: 0.5em;
    margin : 10% auto;
    padding-bottom : 20px;
    text-align: center;
}
main:hover{
    box-shadow: 1px 1px 20px rgb(88, 88, 88);
}

select{
    width : 90%;
    height: 35px;
    margin: 2% 5% 2% 5%;
    border-radius: 0.2em;
    z-index: 3;
    font-size: 1.5em;
}

.choixText{
    padding : 0 0 10px 10px;
    font-size: 1.1em;
}

.voir{
    text-align : center;
    font-size: 1.5em;
    text-transform: uppercase;
    color : white;
    width : 20%;
    height : 20%;
    margin-left : 75%;
    margin-bottom : 2%;
    background-color: #1e85c1;
    border : none;
    border-radius: 0.5em;
}

.result{
    margin-top : 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer{
    background-color: grey;
}
